In [2]:
import pandas as pd
import numpy as np

In [3]:
class SFS():
    def __init__(self, membership, nonmembership, hesitancy):
        self.memb = membership
        self.nmemb = nonmembership
        self.hes = hesitancy
        
    def __add__(self, other):
        value_memb = (self.memb ** 2 + other.memb ** 2 - self.memb ** 2 * other.memb ** 2) ** 0.5
        value_nmemb = self.nmemb * other.nmemb
        value_hes = ((1 - other.memb ** 2) * self.hes ** 2 + (1 - self.memb ** 2) * other.hes ** 2 - \
                     self.hes ** 2 * other.hes ** 2) ** 0.5
        return SFS(value_memb, value_nmemb, value_hes)
    
    def __mul__(self, other):
        if type(other) == SFS:
            value_memb = self.memb * other.memb
            value_nmemb = (self.nmemb ** 2 + other.nmemb ** 2 - self.nmemb ** 2 * other.nmemb ** 2) ** 0.5
            value_hes = ((1 - other.nmemb ** 2 ) * self.hes ** 2 + (1 - self.nmemb ** 2) * other.hes ** 2 - \
                         self.hes ** 2 * other.hes ** 2) ** 0.5
            return SFS(value_memb, value_nmemb, value_hes)
        else:
            value_memb = (1 - (1 - self.memb ** 2) ** other) ** 0.5
            value_nmemb = self.nmemb ** other
            value_hes = ((1 - self.memb ** 2) ** other - (1 - self.memb ** 2 - self.hes ** 2) ** other) ** 0.5
            return SFS(value_memb, value_nmemb, value_hes)
            
    def __rmul__(self, other):
        value_memb = (1 - (1 - self.memb ** 2) ** other) ** 0.5
        value_nmemb = self.nmemb ** other
        value_hes = ((1 - self.memb ** 2) ** other - (1 - self.memb ** 2 - self.hes ** 2) ** other) ** 0.5
        return SFS(value_memb, value_nmemb, value_hes)
    
    def __pow__(self, other):
        value_memb = self.memb ** other
        value_nmemb = (1 - (1 - self.nmemb ** 2) ** other) ** 0.5
        value_hes = ((1 - self.nmemb ** 2) ** other - (1 - self.nmemb ** 2 - self.hes ** 2) ** other) ** 0.5
        return SFS(value_memb, value_nmemb, value_hes)
        
    def __repr__(self):
        return '({}, {}, {})'.format(round(self.memb, 2), round(self.nmemb, 2), round(self.hes, 2))
    
    def score(self):
        return (2 * self.memb - self.hes / 2) ** 2 - (self.nmemb - self.hes / 2) ** 2
    
    def __lt__(self, other):
        return self.score() < other.score()

    def __le__(self, other):
        return self.score() <= other.score()

    def __eq__(self, other):
        return self.score() == other.score()

    def __ne__(self, other):
        return self.score() != other.score()

    def __gt__(self, other):
        return self.score() > other.score()

    def __ge__(self, other):
        return self.score() >= other.score()
    
    def dist_square(self, other):
        return (self.memb - other.memb) ** 2 + (self.nmemb - other.nmemb) ** 2 + (self.hes - other.hes) ** 2

In [4]:
def swam(sfs, weights):
    summa = SFS(0, 1, 0)
    for i in range(len(sfs)):
        summa += sfs[i] * weights[i]
    return summa

def swgm(sfs, weights):
    summa = SFS(0, 1, 0)
    for i in range(len(sfs)):
        summa += sfs[i] ** weights[i]
    return summa

In [38]:
'''dec_mat = pd.DataFrame({'C1': [SFS(0.81, 0.19, 0.23), SFS(0.40, 0.60, 0.40), SFS(0.53, 0.48, 0.43), SFS(0.65, 0.35, 0.35), SFS(0.70, 0.30, 0.30)],
                       'C2': [SFS(0.62, 0.38, 0.38), SFS(0.73, 0.27, 0.29), SFS(0.80, 0.20, 0.20), SFS(0.65, 0.35, 0.35), SFS(0.64, 0.36, 0.37)],
                       'C3': [SFS(0.78, 0.22, 0.22), SFS(0.67, 0.33, 0.34), SFS(0.77, 0.23, 0.23), SFS(0.56, 0.46, 0.31), SFS(0.51, 0.51, 0.36)],
                       'C4': [SFS(0.51, 0.49, 0.41), SFS(0.58, 0.43, 0.44), SFS(0.65, 0.35, 0.36), SFS(0.42, 0.59, 0.43), SFS(0.58, 0.42, 0.42)],
                       'C5': [SFS(0.61, 0.40, 0.37), SFS(0.68, 0.33, 0.31), SFS(0.71, 0.30, 0.27), SFS(0.58, 0.42, 0.42), SFS(0.68, 0.32, 0.32)]},
                       index=['X1', 'X2', 'X3', 'X4', 'X5'])
n_alt = 5
n_crit = 5
dec_mat.loc['weights'] = [SFS(0.81, 0.19, 0.23), SFS(0.73, 0.27, 0.29), SFS(0.77, 0.23, 0.23), SFS(0.42, 0.59, 0.43), SFS(0.68, 0.32, 0.32)]
dec_mat'''

"dec_mat = pd.DataFrame({'C1': [SFS(0.81, 0.19, 0.23), SFS(0.40, 0.60, 0.40), SFS(0.53, 0.48, 0.43), SFS(0.65, 0.35, 0.35), SFS(0.70, 0.30, 0.30)],\n                       'C2': [SFS(0.62, 0.38, 0.38), SFS(0.73, 0.27, 0.29), SFS(0.80, 0.20, 0.20), SFS(0.65, 0.35, 0.35), SFS(0.64, 0.36, 0.37)],\n                       'C3': [SFS(0.78, 0.22, 0.22), SFS(0.67, 0.33, 0.34), SFS(0.77, 0.23, 0.23), SFS(0.56, 0.46, 0.31), SFS(0.51, 0.51, 0.36)],\n                       'C4': [SFS(0.51, 0.49, 0.41), SFS(0.58, 0.43, 0.44), SFS(0.65, 0.35, 0.36), SFS(0.42, 0.59, 0.43), SFS(0.58, 0.42, 0.42)],\n                       'C5': [SFS(0.61, 0.40, 0.37), SFS(0.68, 0.33, 0.31), SFS(0.71, 0.30, 0.27), SFS(0.58, 0.42, 0.42), SFS(0.68, 0.32, 0.32)]},\n                       index=['X1', 'X2', 'X3', 'X4', 'X5'])\nn_alt = 5\nn_crit = 5\ndec_mat.loc['weights'] = [SFS(0.81, 0.19, 0.23), SFS(0.73, 0.27, 0.29), SFS(0.77, 0.23, 0.23), SFS(0.42, 0.59, 0.43), SFS(0.68, 0.32, 0.32)]\ndec_mat"

In [101]:
data = pd.DataFrame({'цена': [345940, 187740, 308000, 381000, 649350], 'конкуренты': [4, 7, 6, 7, 9],
                     'трафик': [4, 1, 1, 3, 5], 'площадь': [70, 126, 132, 100, 117], 'плотность населения': [2, 1, 2, 5, 4]},
                    index=['Ленинградский проезд, 48', 'Черняковская, 19', 'Самеда Вурунга, 7',
                           'Кочновский проезд, 4к2', 'Ленинградский проезд, 76А'])
n_alt = 5
n_crit = 5
data

,цена,конкуренты,трафик,площадь,плотность населения
"Ленинградский проезд, 48",345940,4,4,70,2
"Черняковская, 19",187740,7,1,126,1
"Самеда Вурунга, 7",308000,6,1,132,2
"Кочновский проезд, 4к2",381000,7,3,100,5
"Ленинградский проезд, 76А",649350,9,5,117,4

In [102]:
weight = pd.DataFrame({'цена': [0.107], 'конкуренты': [0.326], 'трафик': [0.382],
                        'площадь': [0.061], 'плотность населения': [0.123]},
                       index=['вес'])
weight

      цена  конкуренты  трафик  площадь  плотность населения
вес  0.107       0.326   0.382    0.061                0.123

In [103]:
cost_mean = 399708
cost = (0.5 * data['цена'].max() - 0.1 * cost_mean - 0.4 * data['цена']) / (data['цена'].max() - cost_mean)
competition = 1.3 - 0.1 * data['конкуренты']
traffic = 0.1 + 0.16 * data['трафик']
square = (0.1 * data['площадь'].max() - 0.9 * data['площадь'].min() + 0.8 * data['площадь']) / (data['площадь'].max() - data['площадь'].min())
density = 0.1 + 0.16 * data['плотность населения']
weights = (weight.T * 0.9 / weight.T.max()).T

In [104]:
dec_mat = pd.DataFrame([cost, competition, traffic, square, density]).T
dec_mat.index = ['X{}'.format(i) for i in range(1, 1+n_alt)]
dec_mat.columns = ['C{}'.format(i) for i in range(1, 1+n_crit)]
dec_mat.round(3)

       C1   C2    C3     C4    C5
X1  0.586  0.9  0.74  0.100  0.42
X2  0.840  0.6  0.26  0.823  0.26
X3  0.647  0.7  0.26  0.900  0.42
X4  0.530  0.6  0.58  0.487  0.90
X5  0.100  0.4  0.90  0.706  0.74

In [105]:
dec_mat_w = weights.copy()
dec_mat_w.columns = ['C{}'.format(i) for i in range(1, 1+n_crit)]
dec_mat_w.index = ['weights']
dec_mat_w.round(3)

            C1     C2   C3     C4    C5
weights  0.252  0.768  0.9  0.144  0.29

In [106]:
for i in range(n_alt):
    for j in range(n_crit):
        x = dec_mat.iloc[i, j]
        dec_mat.iloc[i, j] = SFS(x, 1-x, 0.5-abs(x-0.5))
for i in range(n_crit):
    x = dec_mat_w.iloc[0, i]
    dec_mat_w.iloc[0, i] = SFS(x, 1-x, 0.5-abs(x-0.5))

In [107]:
dec_mat = dec_mat.append(dec_mat_w)
dec_mat

,C1,C2,C3,C4,C5
X1,"(0.59, 0.41, 0.41)","(0.9, 0.1, 0.1)","(0.74, 0.26, 0.26)","(0.1, 0.9, 0.1)","(0.42, 0.58, 0.42)"
X2,"(0.84, 0.16, 0.16)","(0.6, 0.4, 0.4)","(0.26, 0.74, 0.26)","(0.82, 0.18, 0.18)","(0.26, 0.74, 0.26)"
X3,"(0.65, 0.35, 0.35)","(0.7, 0.3, 0.3)","(0.26, 0.74, 0.26)","(0.9, 0.1, 0.1)","(0.42, 0.58, 0.42)"
X4,"(0.53, 0.47, 0.47)","(0.6, 0.4, 0.4)","(0.58, 0.42, 0.42)","(0.49, 0.51, 0.49)","(0.9, 0.1, 0.1)"
X5,"(0.1, 0.9, 0.1)","(0.4, 0.6, 0.4)","(0.9, 0.1, 0.1)","(0.71, 0.29, 0.29)","(0.74, 0.26, 0.26)"
weights,"(0.25, 0.75, 0.25)","(0.77, 0.23, 0.23)","(0.9, 0.1, 0.1)","(0.14, 0.86, 0.14)","(0.29, 0.71, 0.29)"

In [108]:
wdec_mat = pd.DataFrame([dec_mat.loc['X{}'.format(i)] * dec_mat.loc['weights'] for i in range(1, n_alt+1)],
                        index=['X1', 'X2', 'X3', 'X4', 'X5'])
wdec_mat

,C1,C2,C3,C4,C5
X1,"(0.15, 0.8, 0.34)","(0.69, 0.25, 0.25)","(0.67, 0.28, 0.27)","(0.01, 0.97, 0.08)","(0.12, 0.82, 0.36)"
X2,"(0.21, 0.76, 0.27)","(0.46, 0.45, 0.43)","(0.23, 0.74, 0.27)","(0.12, 0.86, 0.17)","(0.08, 0.88, 0.26)"
X3,"(0.16, 0.78, 0.32)","(0.54, 0.37, 0.36)","(0.23, 0.74, 0.27)","(0.13, 0.86, 0.15)","(0.12, 0.82, 0.36)"
X4,"(0.13, 0.81, 0.36)","(0.46, 0.45, 0.43)","(0.52, 0.43, 0.43)","(0.07, 0.9, 0.27)","(0.26, 0.71, 0.3)"
X5,"(0.03, 0.96, 0.13)","(0.31, 0.63, 0.42)","(0.81, 0.14, 0.14)","(0.1, 0.87, 0.2)","(0.21, 0.73, 0.33)"

In [109]:
score_mat = pd.DataFrame([wdec_mat.loc['X{}'.format(i)].apply(lambda x: x.score()) for i in range(1, n_alt+1)])
score_mat.round(3)

       C1     C2     C3     C4     C5
X1 -0.376  1.566  1.407 -0.873 -0.406
X2 -0.303  0.441 -0.260 -0.582 -0.566
X3 -0.361  0.765 -0.260 -0.578 -0.406
X4 -0.387  0.441  0.644 -0.579 -0.181
X5 -0.800 -0.011  2.397 -0.582 -0.255

In [110]:
X_plus = wdec_mat.max(axis=0)
X_minus = wdec_mat.min(axis=0)
bw_mat = pd.DataFrame([X_plus, X_minus], index=['X+', 'X-'])
bw_mat

,C1,C2,C3,C4,C5
X+,"(0.21, 0.76, 0.27)","(0.69, 0.25, 0.25)","(0.81, 0.14, 0.14)","(0.13, 0.86, 0.15)","(0.26, 0.71, 0.3)"
X-,"(0.03, 0.96, 0.13)","(0.31, 0.63, 0.42)","(0.23, 0.74, 0.27)","(0.01, 0.97, 0.08)","(0.08, 0.88, 0.26)"

In [111]:
def dist(x, y):
    summa = 0
    for i in range(len(x)):
        summa += x[i].dist_square(y[i])
    return (summa / n_crit / 2) ** 0.5

def ratio(dist):
    return dist[1] / (dist[0] + dist[1])

In [112]:
dist_plus = wdec_mat.apply(lambda x: dist(x, bw_mat.loc['X+']), axis=1)
dist_minus = wdec_mat.apply(lambda x: dist(x, bw_mat.loc['X-']), axis=1)
dd = pd.DataFrame({'D(X, X+)': dist_plus, 'D(X, X-)': dist_minus})
dd['ratio'] = dd.apply(ratio, axis=1)
dd['rank'] = dd['ratio'].rank(ascending=False)
dd['rank_site'] = []
dd.round(3)

    D(X, X+)  D(X, X-)  ratio  rank
X1     0.116     0.287  0.712   1.0
X2     0.300     0.135  0.309   5.0
X3     0.283     0.160  0.362   4.0
X4     0.203     0.215  0.514   3.0
X5     0.205     0.281  0.578   2.0

In [113]:
a1 = SFS(0.81, 0.19, 0.23)
a2 = SFS(0.73, 0.27, 0.29)
a3 = SFS(0.77, 0.23, 0.23)
a4 = SFS(0.42, 0.59, 0.43)
a5 = SFS(0.68, 0.32, 0.32)

In [117]:
(a1 + a2 + a3 + a4 + a5)

(0.99, 0.0, 0.13)